node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.vscode

# prisma generated
/generated/prisma

# Local Netlify folder
.netlify

# local xlsx files/parser
wild-pokemon-locations.xlsx
xlsx-parser.ts
